// Básicos
$white:#ffffff;
$black:#000000;

//templete
$gray-1: #2c3e50;
$gray-2: #95a5a6;
$gray-3: #d6dbdf;
$gray-4: #f2f4f6;
/*---------------------------------*/

// Fondos
$bg-main: $gray-3;
$bg-header: $gray-1;
$bg-footer: $gray-2;
/*---------------------------------*/
