.header{
    width: 100%;
    background-color: $bg-header;
    border-bottom: 1px solid #000;

    &.isScroll{
        border-bottom: 1px solid #000;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        nav {
            width: 50%;

            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li {
                    margin-left: 30px;
                    a {
                        color: $gray-4;
                        font-size: 20px;
                        font-weight: 500;
                        &:hover{
                            color: $gray-2;
                        }
                    }
                }
            }

            &#logo{
                a {
                    position: relative;
                    padding-left: 55px;
                    color: $gray-4;
                    font-size: 20px;
                    font-weight: 500;
                    span {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: $gray-4;
                        border-radius: 50%;
                        left: 0;
                        top: -10px;
                        color: $gray-1;
                        font-size: 20px;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover{
                        color: $gray-2;
                        span{
                            background-color: $gray-2;
                        }
                    }
                }
            }
        }
    }
}